.vscode
node_modules
coverage
# Ignorer le dossier de build TypeScript (dist) car on reconstruit dans l'image
dist
db
.env
# Ignorer logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer dossiers de cache, IDE, OS
.vscode
.idea
.DS_Store

# Ignorer fichiers temporaires
*.swp